<nav>
  <button mat-button color="primary" routerLink="/"> Home </button>
  <button mat-button color="primary" routerLink="/accomodation"> Accomodation </button>
  <button mat-button color="primary" routerLink="/celebrations"> Celebrations </button>
  <button mat-button color="primary" routerLink="/food-beverage"> Food and Beverage </button>
  <button mat-button color="primary" routerLink="/lifestyle"> Lifestyle </button>
  <button mat-button color="primary" routerLink="/offers"> Offers </button>
  <button mat-button color="primary" routerLink="/weddings"> Weddings </button>
</nav>
<router-outlet></router-outlet>
